[Unit]
Description=Django Application Gunicorn Server
After=network.target

[Service]
Type=notify
User=www-data
Group=www-data
WorkingDirectory=/var/www/backend
ExecStart=/var/www/backend/env/bin/gunicorn \
    --workers 4 \
    --worker-class sync \
    --bind unix:/var/www/backend/run/gunicorn.sock \
    --timeout 60 \
    --access-logfile /var/log/gunicorn/access.log \
    --error-logfile /var/log/gunicorn/error.log \
    backend.wsgi:application

# Restart policy
Restart=always
RestartSec=10

# Environment variables
EnvironmentFile=/var/www/backend/.env

[Install]
WantedBy=multi-user.target
